@using PagedList
@using PagedList.Mvc
@using AirplaneASP.Models.Schedules
@model IPagedList<ScheduleModel>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Schedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedules</h2>

<p>
    @Html.ActionLink("Generate schedule", "GenerateSchedule", "Schedules")
</p>
@Html.Partial("FilterSchedule",(FilterViewModel)ViewBag.FilterModel)
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FlightID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FlightStateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DepartureDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ArrivalDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Comment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightStateID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.ID, page = Model.PageNumber }) |
                <!--
                     @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                 -->
                @Html.ActionLink("Remove", "Remove", new { id = item.ID, page = Model.PageNumber })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("List",
    new { page, from = ViewBag.FilterModel.FromDate, to = ViewBag.FilterModel.ToDate }))