@using PagedList
@using PagedList.Mvc
@using AirplaneASP.Models.Schedules
@model IPagedList<ScheduleDetailsModel>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Schedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedules</h2>
<p>
    @Html.ActionLink("Generate schedule", "GenerateSchedule", "Schedules")
</p>
<p>
    @Html.ActionLink("Import schedule", "ImportSchedule", "Schedules")
</p>
@Html.Partial("FilterSchedule",(FilterViewModel)ViewBag.FilterModel)
<h5>Export to XSLX file</h5>
@using (Html.BeginForm("ExportSchedule", "Schedules"))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("page", Model.PageNumber)
    @Html.Hidden("from", (DateTime?)ViewBag.FilterModel.FromDate)
    @Html.Hidden("to", (DateTime?)ViewBag.FilterModel.ToDate)
    <div class="form-inline">
        <div class="form-group">
            @Html.Label("all", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-2">
                @Html.CheckBox("all", new { @checked = true, htmlAttributes = new { @class = "form-control" } })
            </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input name="Export" type="submit" value="Export" class="btn btn-default" />
                </div>
            </div> 
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CityDeparture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CityArrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DepartureDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ArrivalDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Comment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityDeparture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.ID, page = Model.PageNumber }) |
                <!--
                     @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                 -->
                @Html.ActionLink("Remove", "Remove", new { id = item.ID, page = Model.PageNumber })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("List",
    new { page, from = ViewBag.FilterModel.FromDate, to = ViewBag.FilterModel.ToDate }))