@using AirportService.DTO
@model List<CityDTO>
@{
    ViewBag.Title = "Cities";
}
<h2>@ViewBag.Title.</h2>
@Html.ActionLink("Add", "Add", "Cities")
@foreach (var city in @Model)
{
    <div class="row">
        <div class="col-md-3">@city.Name</div>
        @using (Html.BeginForm())
        {
            @Html.ActionLink("Remove", "Remove", "Cities", new { cityID = @city.ID }, null)
        }
    </div>
}